<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/style.css" />
    <title>Handlebars demo</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
