<form class="add-item" action="index.html" method="post">
  <input class="input" placeholder="Add item" type="text">
  <button type="button" class="submit">Record for posterity</button>
</form>

<h1 class="the-list">The List</h1>

<ol>Here be the list.</ol>
