<div class="epic-lead-in">
  <h2>I warn you, he has bested many humanoids before you...</h2>
</div>
<div class="gameboard">
  {{#each boxes}}
    {{#if (or (equal this 'robotron') (equal this 'humanoid')) }}
      <div class="claimedBox">{{markBox this}}</div>
    {{else}}
      <form class="box" action="/" method="POST">
        <input type="hidden" name="indexClicked" value={{@index}} >
        <button class="humanoidMove" type="submit">test</button>
      </form>
    {{/if}}
  {{/each}}
  {{#if isRobotronsMove}}
    <form class="robotronsMove" action="/" method="POST">
      <button class="robotronMove" type="submit">
        I will not go gently into that dark night!
      </button>
    </form>
  {{/if}}

</div>
